@using InplayBet.Web.Models
@using InplayBet.Web.Models.Base
@using InplayBet.Web.Utilities
@model List<ChallengeModel>
@functions {
    public static string SetChallengeColor(ChallengeModel challenge)
    {
        string challangeStatus = challenge.ChallengeStatus.AsString();
        if (string.IsNullOrEmpty(challangeStatus))
            return "yellow-box";
        else if (challangeStatus == StatusCode.Lost.ToString())
            return "red-box";
        else if (challangeStatus == StatusCode.Won.ToString())
            return "green-box";
        else if (challangeStatus == StatusCode.CashOut.ToString())
            return "blue-box";
        else
            return string.Empty;
    }
}

@foreach (ChallengeModel challenge in Model)
{
    <div class="@SetChallengeColor(challenge)">
        <div class="blk-bg">
            <h3 class="blk-heading">Challenge @challenge.ChallengeNumber.AsString() - Inplay</h3>
            <a href="#" class="report-btn">report</a>
        </div>
        <div class="scroll">
            <div class="outer">
                @Html.Action("", "", new { })
            </div>
        </div>
    </div>
}
<div class="yellow-box">
    <div class="blk-bg">
        <h3 class="blk-heading">Challenge 21 - Inplay</h3>
        <a href="#" class="report-btn">report</a>
    </div>
    <div class="scroll">
        <div class="outer">
        </div>
    </div>
</div>
