@{Layout = null;}
<div class="cropcontainer">
    <div class="title">Profile Image</div>
    <div class="imageBox">
        <div class="thumbBox"></div>
        <div class="spinner" style="display: none">Loading...</div>
    </div>
    <div class="action">
        <div class="fileUpload btn btn-success">
            <span>Upload</span>
            <input id="uploadBtn" type="file" class="upload" />
        </div>
        <input id="uploadFile" placeholder="Choose File" disabled="disabled" />

        <input class="btn btn-success" type="button" id="btnCrop" value="Crop" style="float: right">
        <input class="btn btn-success" type="button" id="btnZoomIn" value="+" style="float: right">
        <input class="btn btn-success" type="button" id="btnZoomOut" value="-" style="float: right">
    </div>
</div>