<div class="popup-border">
    <h2>Bet Challenge form</h2>
    <p>Bet1</p>
    <ul class="popup">
        <li>
            <label>Team Names:</label>
            <input type="text" name="" value="">
            <a href="#" class="btn">+</a>
            <span>vs</span>
            <input type="text" name="" value="">
            <a href="#" class="btn">+</a>
        </li>
        <li>
            <label>league:</label>
            <input type="text" name="" class="full" value="">
            <a href="#" class="btn">+</a>
        </li>
        <li>
            <label>Bet Type:</label>
            <input type="text" name="" class="full" value="">
        </li>
        <li>
            <label>Odds:</label>
            <input type="text" name="" class="full" value="">
        </li>
        <li>
            <label>Amount Placed:</label>
            <input type="text" name="" class="full" value="">
        </li>
        <li>
            <label>Winning Total:</label>
            <input type="text" name="" class="full" value="">
        </li>
        <!--<li>
            <label>Winning Total:</label>
            <input name="" type="radio" value="" />Won <input name="" type="radio" value="" />Lost
        </li>-->
        <li><input type="submit" value="submit" name=""></li>
    </ul>
</div>