<div class="nav-container">
    <div class="center">
        <ul class="nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">how to play</a></li>
            <li><a href="#">ranking</a></li>
            <li><a href="#">latest bets</a></li>
            <li><a href="#">Latest Winners</a></li>
            <li><a href="#">member search</a></li>
            <li><a href="#">sign up</a></li>
            <li><a href="#">contact us</a></li>
        </ul>
    </div>
</div>
