@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@model UserModel
@{
    ViewBag.Title = "Registration";
}
@section PageScript{
    @Html.RenderScripts("~/Scripts/RegistrationScript")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Registration" } });}
<div class="main-container">
    <div class="container">
        <div class="registration-block">
            <h2 class="query-heading">Registration</h2>
            <h4 class="grn-heading">Inplay Betting Account</h4>
            <p>
                If you want to complete the £20-£1000 challenge with real money, you will need to create an inplay betting account.<br>
                We recommend using Bet365 for your inplay bets, as they offer the most comprehensive inplay listing and the best odds.<br>
                Please click on the Bet365 below and it will take you Bet365 to create an account -
            </p>
            <div class="promo-bnr"><img src='@Url.Content("~/Styles/images/bet-promo-bnr.jpg")' alt=""></div>
            <h4 class="grn-heading">£20-£1000 Challenge Account Registration -</h4>
            <p>If you are waiting to sign up to our £20-£1000 system, please fill in the details below and create your account -</p>

            @Html.Partial("_SignUp", Model)
        </div>
    </div>
</div>
