@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@model List<WinnerViewModel>
@{
    ViewBag.Title = "Latest Winners";
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Latest Winners" } });}
<div class="main-container">
    <div class="container">
        @foreach (WinnerViewModel data in Model)
        {
            <div class="mp-block latest-winner-space">
                @{Html.RenderPartial("_LatestChallengeWinner", data.User);}
                @{Html.RenderPartial("_LatestWonChallenges", data.WonChallenge,
                    new ViewDataDictionary(this.ViewBag) { { "CaltureCode", data.User.CultureCode } });}
            </div>
                if (Model.IndexOf(data) == 2)
                {
                    Html.Partial("_PromoBanner");
                }
        }
    </div>
</div>
